/* Page CSS*/
body {
    background-color:#000000;
    font: 10px "Comic Sans MS" ;
    color: orange;
}
#title {
    font-size: 30px;
}

#tests {
    font-size: 20px;
    color: white;
}

#test_unit {
    position: relative;
    left: 200px;
}

/* Chart CSS */
.chart {
    border: 1px dashed orange;
    margin: 5px;
    padding: 2px;
    width: 600px;
    height:300px;
    float:left;
}

/* Dygraph CSS */
/* This applies to the title, x-axis label and y-axis label */
#div_g .dygraph-label {
    font-family: Arial, Helvetica, sans-serif;
}
/* This rule only applies to the chart title */
#div_g .dygraph-title {
    font-size: 12px;
    color : orange;
}
 /* This rule only applies to the y-axis label */
#div_g .dygraph-ylabel {
    font-size: 10px;
    color : orange;
}

/* Overrides dygraph-legend */
.dygraph-legend {
    font-size: 10px !important;
    width: 400px !important;
    text-align: left !important;
    left: 200px !important;
}
