---
network_interface: "{{ network_interface }}"
ssh_public_key_path: "/root/.ssh/id_rsa.pub"
testing_user: root
wait_for_node_deploy: true
ironic_db_password: {{ ironic_db_password }}
mysql_username: root
mysql_password:

ssh_public_key_path: "/root/.ssh/id_rsa.pub"

inventory_dns: true
inventory_dhcp: false
inspect_nodes: false
