*~
.*.sw?
/docs_build/
/docs_output/
/releng/
.idea
*.py[cod]

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
node_modules/
.coverage
=1.3.1
cover/
coverage.xml
nosetests.xml
testapi_venv/
.cache
.tox
*.retry
job_output/
