[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group bad-aric
	label-Code-Review = -2..+2 group ldap/opnfv-gerrit-releng-submitters
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group ldap/opnfv-gerrit-releng-submitters
	submit = group ldap/opnfv-gerrit-releng-submitters
	forgeAuthor = group ldap/opnfv-gerrit-apex-contributors
	forgeAuthor = group ldap/opnfv-gerrit-apex-submitters
	forgeAuthor = group ldap/opnfv-gerrit-armband-contributors
	forgeAuthor = group ldap/opnfv-gerrit-armband-submitters
	forgeAuthor = group ldap/opnfv-gerrit-auto-committers
	forgeAuthor = group ldap/opnfv-gerrit-auto-contributors
	forgeAuthor = group ldap/opnfv-gerrit-availability-contributors
	forgeAuthor = group ldap/opnfv-gerrit-availability-submitters
	forgeAuthor = group ldap/opnfv-gerrit-bamboo-contributors
	forgeAuthor = group ldap/opnfv-gerrit-bamboo-submitters
	forgeAuthor = group ldap/opnfv-gerrit-barometer-contributors
	forgeAuthor = group ldap/opnfv-gerrit-barometer-submitters
	forgeAuthor = group ldap/opnfv-gerrit-bottlenecks-contributors
	forgeAuthor = group ldap/opnfv-gerrit-bottlenecks-submitters
	forgeAuthor = group ldap/opnfv-gerrit-calipso-contributors
	forgeAuthor = group ldap/opnfv-gerrit-calipso-submitters
	forgeAuthor = group ldap/opnfv-gerrit-compass4nfv-contributors
	forgeAuthor = group ldap/opnfv-gerrit-compass4nfv-submitters
	forgeAuthor = group ldap/opnfv-gerrit-copper-contributors
	forgeAuthor = group ldap/opnfv-gerrit-copper-submitters
	forgeAuthor = group ldap/opnfv-gerrit-cperf-contributors
	forgeAuthor = group ldap/opnfv-gerrit-cperf-submitters
	forgeAuthor = group ldap/opnfv-gerrit-daisy-contributors
	forgeAuthor = group ldap/opnfv-gerrit-daisy-submitters
	forgeAuthor = group ldap/opnfv-gerrit-doctor-contributors
	forgeAuthor = group ldap/opnfv-gerrit-doctor-submitters
	forgeAuthor = group ldap/opnfv-gerrit-domino-contributors
	forgeAuthor = group ldap/opnfv-gerrit-domino-submitters
	forgeAuthor = group ldap/opnfv-gerrit-dovetail-contributors
	forgeAuthor = group ldap/opnfv-gerrit-dovetail-submitters
	forgeAuthor = group ldap/opnfv-gerrit-enfv-contributors
	forgeAuthor = group ldap/opnfv-gerrit-enfv-submitters
	forgeAuthor = group ldap/opnfv-gerrit-escalator-contributors
	forgeAuthor = group ldap/opnfv-gerrit-escalator-submitters
	forgeAuthor = group ldap/opnfv-gerrit-fastdatastacks-contributors
	forgeAuthor = group ldap/opnfv-gerrit-fastdatastacks-submitters
	forgeAuthor = group ldap/opnfv-gerrit-fastpathmetrics-contributors
	forgeAuthor = group ldap/opnfv-gerrit-fastpathmetrics-submitters
	forgeAuthor = group ldap/opnfv-gerrit-fuel-contributors
	forgeAuthor = group ldap/opnfv-gerrit-fuel-submitters
	forgeAuthor = group ldap/opnfv-gerrit-functest-contributors
	forgeAuthor = group ldap/opnfv-gerrit-functest-submitters
	forgeAuthor = group ldap/opnfv-gerrit-genesis-contributors
	forgeAuthor = group ldap/opnfv-gerrit-genesis-submitters
	forgeAuthor = group ldap/opnfv-gerrit-genesisreq-contributors
	forgeAuthor = group ldap/opnfv-gerrit-genesisreq-submitters
	forgeAuthor = group ldap/opnfv-gerrit-inspector-contributors
	forgeAuthor = group ldap/opnfv-gerrit-inspector-submitters
	forgeAuthor = group ldap/opnfv-gerrit-ipv6-contributors
	forgeAuthor = group ldap/opnfv-gerrit-ipv6-submitters
	forgeAuthor = group ldap/opnfv-gerrit-joid-contributors
	forgeAuthor = group ldap/opnfv-gerrit-joid-submitters
	forgeAuthor = group ldap/opnfv-gerrit-kvmfornfv-contributors
	forgeAuthor = group ldap/opnfv-gerrit-kvmfornfv-submitters
	forgeAuthor = group ldap/opnfv-gerrit-lsoapi-contributors
	forgeAuthor = group ldap/opnfv-gerrit-lsoapi-submitters
	forgeAuthor = group ldap/opnfv-gerrit-models-submitters
	forgeAuthor = group ldap/opnfv-gerrit-moon-contributors
	forgeAuthor = group ldap/opnfv-gerrit-moon-submitters
	forgeAuthor = group ldap/opnfv-gerrit-movie-contributors
	forgeAuthor = group ldap/opnfv-gerrit-movie-submitters
	forgeAuthor = group ldap/opnfv-gerrit-multisite-contributors
	forgeAuthor = group ldap/opnfv-gerrit-multisite-submitters
	forgeAuthor = group ldap/opnfv-gerrit-netready-contributors
	forgeAuthor = group ldap/opnfv-gerrit-netready-submitters
	forgeAuthor = group ldap/opnfv-gerrit-nfvbench-contributors
	forgeAuthor = group ldap/opnfv-gerrit-nfvbench-submitters
	forgeAuthor = group ldap/opnfv-gerrit-octopus-contributors
	forgeAuthor = group ldap/opnfv-gerrit-octopus-submitters
	forgeAuthor = group ldap/opnfv-gerrit-onosfw-contributors
	forgeAuthor = group ldap/opnfv-gerrit-onosfw-submitters
	forgeAuthor = group ldap/opnfv-gerrit-openretriever-contributors
	forgeAuthor = group ldap/opnfv-gerrit-openretriever-submitters
	forgeAuthor = group ldap/opnfv-gerrit-opera-contributors
	forgeAuthor = group ldap/opnfv-gerrit-opera-submitters
	forgeAuthor = group ldap/opnfv-gerrit-opnfvdocs-contributors
	forgeAuthor = group ldap/opnfv-gerrit-opnfvdocs-submitters
	forgeAuthor = group ldap/opnfv-gerrit-orchestra-contributors
	forgeAuthor = group ldap/opnfv-gerrit-orchestra-submitters
	forgeAuthor = group ldap/opnfv-gerrit-ovn4nfv-contributors
	forgeAuthor = group ldap/opnfv-gerrit-ovn4nfv-submitters
	forgeAuthor = group ldap/opnfv-gerrit-ovno-contributors
	forgeAuthor = group ldap/opnfv-gerrit-ovno-submitters
	forgeAuthor = group ldap/opnfv-gerrit-ovsnfv-contributors
	forgeAuthor = group ldap/opnfv-gerrit-ovsnfv-submitters
	forgeAuthor = group ldap/opnfv-gerrit-parser-contributors
	forgeAuthor = group ldap/opnfv-gerrit-parser-submitters
	forgeAuthor = group ldap/opnfv-gerrit-pharos-contributors
	forgeAuthor = group ldap/opnfv-gerrit-pharos-submitters
	forgeAuthor = group ldap/opnfv-gerrit-prediction-submitters
	forgeAuthor = group ldap/opnfv-gerrit-promise-contributors
	forgeAuthor = group ldap/opnfv-gerrit-promise-submitters
	forgeAuthor = group ldap/opnfv-gerrit-qtip-contributors
	forgeAuthor = group ldap/opnfv-gerrit-qtip-submitters
	forgeAuthor = group ldap/opnfv-gerrit-releng-contributors
	forgeAuthor = group ldap/opnfv-gerrit-releng-contributors
	forgeAuthor = group ldap/opnfv-gerrit-releng-submitters
	forgeAuthor = group ldap/opnfv-gerrit-releng-submitters
	forgeAuthor = group ldap/opnfv-gerrit-rs-contributors
	forgeAuthor = group ldap/opnfv-gerrit-rs-submitters
	forgeAuthor = group ldap/opnfv-gerrit-samplevnf-contributors
	forgeAuthor = group ldap/opnfv-gerrit-samplevnf-submitters
	forgeAuthor = group ldap/opnfv-gerrit-sdnvpn-contributors
	forgeAuthor = group ldap/opnfv-gerrit-sdnvpn-submitters
	forgeAuthor = group ldap/opnfv-gerrit-securityscanning-contributors
	forgeAuthor = group ldap/opnfv-gerrit-securityscanning-submitters
	forgeAuthor = group ldap/opnfv-gerrit-sfc-contributors
	forgeAuthor = group ldap/opnfv-gerrit-sfc-submitters
	forgeAuthor = group ldap/opnfv-gerrit-snaps-contributors
	forgeAuthor = group ldap/opnfv-gerrit-snaps-submitters
	forgeAuthor = group ldap/opnfv-gerrit-stor4nfv-contributors
	forgeAuthor = group ldap/opnfv-gerrit-stor4nfv-submitters
	forgeAuthor = group ldap/opnfv-gerrit-storperf-contributors
	forgeAuthor = group ldap/opnfv-gerrit-storperf-submitters
	forgeAuthor = group ldap/opnfv-gerrit-ves-contributors
	forgeAuthor = group ldap/opnfv-gerrit-ves-submitters
	forgeAuthor = group ldap/opnfv-gerrit-vina-contributors
	forgeAuthor = group ldap/opnfv-gerrit-vina-submitters
	forgeAuthor = group ldap/opnfv-gerrit-vnf_forwarding_graph-submitters
	forgeAuthor = group ldap/opnfv-gerrit-vswitchperf-contributors
	forgeAuthor = group ldap/opnfv-gerrit-vswitchperf-submitters
	forgeAuthor = group ldap/opnfv-gerrit-yardstick-contributors
	forgeAuthor = group ldap/opnfv-gerrit-yardstick-submitters
	read = group GitHub Replication
	forgeCommitter = group ldap/opnfv-gerrit-apex-contributors
	forgeCommitter = group ldap/opnfv-gerrit-apex-submitters
	forgeCommitter = group ldap/opnfv-gerrit-armband-contributors
	forgeCommitter = group ldap/opnfv-gerrit-armband-submitters
	forgeCommitter = group ldap/opnfv-gerrit-auto-committers
	forgeCommitter = group ldap/opnfv-gerrit-auto-contributors
	forgeCommitter = group ldap/opnfv-gerrit-availability-contributors
	forgeCommitter = group ldap/opnfv-gerrit-availability-submitters
	forgeCommitter = group ldap/opnfv-gerrit-bamboo-contributors
	forgeCommitter = group ldap/opnfv-gerrit-bamboo-submitters
	forgeCommitter = group ldap/opnfv-gerrit-barometer-contributors
	forgeCommitter = group ldap/opnfv-gerrit-barometer-submitters
	forgeCommitter = group ldap/opnfv-gerrit-bottlenecks-contributors
	forgeCommitter = group ldap/opnfv-gerrit-bottlenecks-submitters
	forgeCommitter = group ldap/opnfv-gerrit-calipso-contributors
	forgeCommitter = group ldap/opnfv-gerrit-calipso-submitters
	forgeCommitter = group ldap/opnfv-gerrit-compass4nfv-contributors
	forgeCommitter = group ldap/opnfv-gerrit-compass4nfv-submitters
	forgeCommitter = group ldap/opnfv-gerrit-copper-contributors
	forgeCommitter = group ldap/opnfv-gerrit-copper-submitters
	forgeCommitter = group ldap/opnfv-gerrit-cperf-contributors
	forgeCommitter = group ldap/opnfv-gerrit-cperf-submitters
	forgeCommitter = group ldap/opnfv-gerrit-daisy-contributors
	forgeCommitter = group ldap/opnfv-gerrit-daisy-submitters
	forgeCommitter = group ldap/opnfv-gerrit-doctor-contributors
	forgeCommitter = group ldap/opnfv-gerrit-doctor-submitters
	forgeCommitter = group ldap/opnfv-gerrit-domino-contributors
	forgeCommitter = group ldap/opnfv-gerrit-domino-submitters
	forgeCommitter = group ldap/opnfv-gerrit-dovetail-contributors
	forgeCommitter = group ldap/opnfv-gerrit-dovetail-submitters
	forgeCommitter = group ldap/opnfv-gerrit-enfv-contributors
	forgeCommitter = group ldap/opnfv-gerrit-enfv-submitters
	forgeCommitter = group ldap/opnfv-gerrit-escalator-contributors
	forgeCommitter = group ldap/opnfv-gerrit-escalator-submitters
	forgeCommitter = group ldap/opnfv-gerrit-fastdatastacks-contributors
	forgeCommitter = group ldap/opnfv-gerrit-fastdatastacks-submitters
	forgeCommitter = group ldap/opnfv-gerrit-fastpathmetrics-contributors
	forgeCommitter = group ldap/opnfv-gerrit-fastpathmetrics-submitters
	forgeCommitter = group ldap/opnfv-gerrit-fuel-contributors
	forgeCommitter = group ldap/opnfv-gerrit-fuel-submitters
	forgeCommitter = group ldap/opnfv-gerrit-functest-contributors
	forgeCommitter = group ldap/opnfv-gerrit-functest-submitters
	forgeCommitter = group ldap/opnfv-gerrit-genesis-contributors
	forgeCommitter = group ldap/opnfv-gerrit-genesis-submitters
	forgeCommitter = group ldap/opnfv-gerrit-genesisreq-contributors
	forgeCommitter = group ldap/opnfv-gerrit-genesisreq-submitters
	forgeCommitter = group ldap/opnfv-gerrit-inspector-contributors
	forgeCommitter = group ldap/opnfv-gerrit-inspector-submitters
	forgeCommitter = group ldap/opnfv-gerrit-ipv6-contributors
	forgeCommitter = group ldap/opnfv-gerrit-ipv6-submitters
	forgeCommitter = group ldap/opnfv-gerrit-joid-contributors
	forgeCommitter = group ldap/opnfv-gerrit-joid-submitters
	forgeCommitter = group ldap/opnfv-gerrit-kvmfornfv-contributors
	forgeCommitter = group ldap/opnfv-gerrit-kvmfornfv-submitters
	forgeCommitter = group ldap/opnfv-gerrit-lsoapi-contributors
	forgeCommitter = group ldap/opnfv-gerrit-lsoapi-submitters
	forgeCommitter = group ldap/opnfv-gerrit-models-submitters
	forgeCommitter = group ldap/opnfv-gerrit-moon-contributors
	forgeCommitter = group ldap/opnfv-gerrit-moon-submitters
	forgeCommitter = group ldap/opnfv-gerrit-movie-contributors
	forgeCommitter = group ldap/opnfv-gerrit-movie-submitters
	forgeCommitter = group ldap/opnfv-gerrit-multisite-contributors
	forgeCommitter = group ldap/opnfv-gerrit-multisite-submitters
	forgeCommitter = group ldap/opnfv-gerrit-netready-contributors
	forgeCommitter = group ldap/opnfv-gerrit-netready-submitters
	forgeCommitter = group ldap/opnfv-gerrit-nfvbench-contributors
	forgeCommitter = group ldap/opnfv-gerrit-nfvbench-submitters
	forgeCommitter = group ldap/opnfv-gerrit-octopus-contributors
	forgeCommitter = group ldap/opnfv-gerrit-octopus-submitters
	forgeCommitter = group ldap/opnfv-gerrit-onosfw-contributors
	forgeCommitter = group ldap/opnfv-gerrit-onosfw-submitters
	forgeCommitter = group ldap/opnfv-gerrit-openretriever-contributors
	forgeCommitter = group ldap/opnfv-gerrit-openretriever-submitters
	forgeCommitter = group ldap/opnfv-gerrit-opera-contributors
	forgeCommitter = group ldap/opnfv-gerrit-opera-submitters
	forgeCommitter = group ldap/opnfv-gerrit-opnfvdocs-contributors
	forgeCommitter = group ldap/opnfv-gerrit-opnfvdocs-submitters
	forgeCommitter = group ldap/opnfv-gerrit-orchestra-contributors
	forgeCommitter = group ldap/opnfv-gerrit-orchestra-submitters
	forgeCommitter = group ldap/opnfv-gerrit-ovn4nfv-contributors
	forgeCommitter = group ldap/opnfv-gerrit-ovn4nfv-submitters
	forgeCommitter = group ldap/opnfv-gerrit-ovno-contributors
	forgeCommitter = group ldap/opnfv-gerrit-ovno-submitters
	forgeCommitter = group ldap/opnfv-gerrit-ovsnfv-contributors
	forgeCommitter = group ldap/opnfv-gerrit-ovsnfv-submitters
	forgeCommitter = group ldap/opnfv-gerrit-parser-contributors
	forgeCommitter = group ldap/opnfv-gerrit-parser-submitters
	forgeCommitter = group ldap/opnfv-gerrit-pharos-contributors
	forgeCommitter = group ldap/opnfv-gerrit-pharos-submitters
	forgeCommitter = group ldap/opnfv-gerrit-prediction-submitters
	forgeCommitter = group ldap/opnfv-gerrit-promise-contributors
	forgeCommitter = group ldap/opnfv-gerrit-promise-submitters
	forgeCommitter = group ldap/opnfv-gerrit-qtip-contributors
	forgeCommitter = group ldap/opnfv-gerrit-qtip-submitters
	forgeCommitter = group ldap/opnfv-gerrit-releng-contributors
	forgeCommitter = group ldap/opnfv-gerrit-releng-contributors
	forgeCommitter = group ldap/opnfv-gerrit-releng-submitters
	forgeCommitter = group ldap/opnfv-gerrit-releng-submitters
	forgeCommitter = group ldap/opnfv-gerrit-rs-contributors
	forgeCommitter = group ldap/opnfv-gerrit-rs-submitters
	forgeCommitter = group ldap/opnfv-gerrit-samplevnf-contributors
	forgeCommitter = group ldap/opnfv-gerrit-samplevnf-submitters
	forgeCommitter = group ldap/opnfv-gerrit-sdnvpn-contributors
	forgeCommitter = group ldap/opnfv-gerrit-sdnvpn-submitters
	forgeCommitter = group ldap/opnfv-gerrit-securityscanning-contributors
	forgeCommitter = group ldap/opnfv-gerrit-securityscanning-submitters
	forgeCommitter = group ldap/opnfv-gerrit-sfc-contributors
	forgeCommitter = group ldap/opnfv-gerrit-sfc-submitters
	forgeCommitter = group ldap/opnfv-gerrit-snaps-contributors
	forgeCommitter = group ldap/opnfv-gerrit-snaps-submitters
	forgeCommitter = group ldap/opnfv-gerrit-stor4nfv-contributors
	forgeCommitter = group ldap/opnfv-gerrit-stor4nfv-submitters
	forgeCommitter = group ldap/opnfv-gerrit-storperf-contributors
	forgeCommitter = group ldap/opnfv-gerrit-storperf-submitters
	forgeCommitter = group ldap/opnfv-gerrit-ves-contributors
	forgeCommitter = group ldap/opnfv-gerrit-ves-submitters
	forgeCommitter = group ldap/opnfv-gerrit-vina-contributors
	forgeCommitter = group ldap/opnfv-gerrit-vina-submitters
	forgeCommitter = group ldap/opnfv-gerrit-vnf_forwarding_graph-submitters
	forgeCommitter = group ldap/opnfv-gerrit-vswitchperf-contributors
	forgeCommitter = group ldap/opnfv-gerrit-vswitchperf-submitters
	forgeCommitter = group ldap/opnfv-gerrit-yardstick-contributors
	forgeCommitter = group ldap/opnfv-gerrit-yardstick-submitters
[access "refs/tags/*"]
	create = group ldap/opnfv-gerrit-releng-submitters
	push = group ldap/opnfv-gerrit-releng-submitters
	pushTag = group ldap/opnfv-gerrit-releng-submitters
	pushSignedTag = group ldap/opnfv-gerrit-releng-submitters
	read = group GitHub Replication
[access "refs/for/refs/*"]
	push = group Non-Interactive Users
