[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Compliance
	pushMerge = group Compliance
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Compliance
	label-Code-Review = -2..+2 group jjb-committers
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Compliance
	label-Verified = -1..+1 group Non-Interactive Users
	submit = group Compliance
	submit = group jjb-committers
	push = group Compliance
[access "refs/for/refs/*"]
	push = group Compliance
	push = group Registered Users
	submit = group Compliance
	submit = group jjb-committers
[project]
	description = release engineering project for jenkins job builder. https://build.opnfv.org/ci/view/builder/
[receive]
