/* Page CSS*/
body {
    background-color: #ECEDEE;
    font: 16px/1.5em Helvetica Neue,helvetica,Arial,sans-serif;
    color: #2E2925;
}
#title {
    font-size: 30px;
}

#tests {
    font-size: 20px;
    color: white;
}

#test_unit {
    position: relative;
    left: 200px;
}

#testcase_selected{
    position: relative;
    left: 100px;
	font-size: 20px;
    color: #00ADBB;
}

/* Chart CSS */
.chart {
    border: 1px dashed #2E2925;
    margin: 5px;
    padding: 2px;
    width: 600px;
    height:300px;
    float:left;
}

/* Dygraph CSS */
/* This applies to the title, x-axis label and y-axis label */
#div_g .dygraph-label {
    font-family: Helvetica Neue,helvetica,Arial,sans-serif;
}
/* This rule only applies to the chart title */
#div_g .dygraph-title {
    font-size: 12px;
    color : #2E2925;
}
 /* This rule only applies to the y-axis label */
#div_g .dygraph-ylabel {
    font-size: 10px;
    color : #2E2925;
}

.btn-default{
  font-size: 20px;
  background-color: #0095A2;
}

.dropdown-header{
  font-size: 20px;
  background-color: #0095A2;
}

.dropdown-menu{
  font-size: 16px;
  background-color: #0095A2;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #00ADBB;
  color: #2E2925;
}

.nav-pills > li > a{
  font-size: 20px;
  background-color: #0095A2;
  color: #2E2925;
}

.nav-pills > li.active > a{
  font-size: 20px;
  background-color: #FFFFFF;
  color: #2E2925;
}

/* Overrides dygraph-legend */
.dygraph-legend {
    font-size: 10px !important;
    width: 400px !important;
    text-align: left !important;
    left: 200px !important;
}
