.panel-header-item {
    position: relative;
    display: inline-block;
    padding-left: 17px;
    padding-right: 17px;
}

.panel-pod-name {
    margin-top: 10px;
    margin-right: 27px;
    float:right;
    padding: 6px;
}

.panel-default > .panel-heading .badge {
    background-color: #007e88;
    position: relative;
    display: inline-block;
}

.panel-default > .panel-heading .progress-bar {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #0095a2
}
.panel-default > .panel-heading h4 {
    color: white;
}

.panel-default > .panel-heading {
    background-color: #00ADBB;
    overflow: hidden;
    position: relative;
    width: 100%;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

.tr-danger {
    background-color: #177870;
    color: white;
}

.btn-more {
    color: white;
    background-color: #0095a2;
}

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color:rgb(128, 128, 128)
}
