doctype html
//
  Copyright (c) 2017 Kumar Rishabh and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Apache License, Version 2.0
  which accompanies this distribution, and is available at
  http://www.apache.org/licenses/LICENSE-2.0
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', href='/stylesheets/3rd_party/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      ul.navigation
        li.logo
        li.links
          a(href='#') Projects
        li.links
          a(href='#') People
        li.links
          a(href='#') About
      ul.navigation-right
        li.signup
          a(href='#') Sign up
        li.option or
        li.signin
          a(href='#') Sign in
    .search-box
      h1 VNF Catalogue
      form.search-form
        input.search-input(type='text', placeholder='Search...')
        .space-10
        button.search-button(type='submit', value='Search') Search
    .content
      ul.most-menu
        li.items.active
          a(href='#') Most Popular
        li.items
          a(href='#') Most Active
        li.items
          a(href='#') Most Active Contributions
      .container
        .row
          .box-container
            .col-md-3
              .content-box
                .content-data
                  h1.content-title AAA
                  .box
                    img.commit-icon(src='/images/3rd_party/commits.png')
                    h3.commits
                      | 4,845
                      br
                      | commits
          .col-md-3
            .content-box
              .content-data
                h1.content-title AAA
                .box
                  img.commit-icon(src='/images/3rd_party/commits.png')
                  h3.commits
                    | 4,845
                    br
                    | commits
          .col-md-3
            .content-box
              .content-data
                h1.content-title AAA
                .box
                  img.commit-icon(src='/images/3rd_party/commits.png')
                  h3.commits
                    | 4,845
                    br
                    | commits
          .col-md-3
            .content-box
              .content-data
                h1.content-title AAA
                .box
                  img.commit-icon(src='/images/3rd_party/commits.png')
                  h3.commits
                    | 4,845
                    br
                    | commits
          .col-md-3
            .content-box
              .content-data
                h1.content-title AAA
                .box
                  img.commit-icon(src='/images/3rd_party/commits.png')
                  h3.commits
                    | 4,845
                    br
                    | commits
          .col-md-3
            .content-box
              .content-data
                h1.content-title AAA
                .box
                  img.commit-icon(src='/images/3rd_party/commits.png')
                  h3.commits
                    | 4,845
                    br
                    | commits
          .col-md-3
            .content-box
              .content-data
                h1.content-title AAA
                .box
                  img.commit-icon(src='/images/3rd_party/commits.png')
                  h3.commits
                    | 4,845
                    br
                    | commits
          .col-md-3
            .content-box
              .content-data
                h1.content-title AAA
                .box
                  img.commit-icon(src='/images/3rd_party/commits.png')
                  h3.commits
                    | 4,845
                    br
                    | commits
      footer
        | © 2017 OPNFV
