AUTHORS
ChangeLog
setup.cfg-e
opnfv_testapi/static
build
*.egg-info
3rd_party/static/static
*.pyc
.cache
.eggs
.tox
.ven
docs/_build
opnfv_testapi/tests/UI/coverage
3rd_party/static/testapi-ui/testapi-ui