<div class="row">
    <div classs="container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div>
                        <h3 class="font-bold no-margins">
                            My Scenarios
                        </h3>
                        <small>List all your Scenarios.</small>
                    </div>
                    <hr>
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-init="count=1" ng-click="showSelect(count)" ng-repeat=" list in scenarioList">

                                <td> {{list}}</td>
                                <td> <input type="checkbox"></i>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
    <div style="margin-top: 10px;" class="pull-right">
        <button class="btn btn-primary" ng-click="test()">Create</button>
        <button class="btn btn-primary" ng-click="test()">Delete</button>
    </div>
</div>