pdfkit>=0.6.1 # MIT
wkhtmltopdf-pack>=0.12.3 # MIT
PyYAML>=3.10.0 # MIT
simplejson>=2.2.0 # MIT
Jinja2!=2.9.0,!=2.9.1,!=2.9.2,!=2.9.3,!=2.9.4,>=2.8 # BSD License (3 clause)
requests!=2.12.2,>=2.10.0 # Apache-2.0
tornado>=4.4.2 # Apache-2.0
