[Unit]
Description=Swap public IP between 1st and 3rd interface

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/swap_ifcfg.sh

[Install]
WantedBy=multi-user.target
