<div id="wrapper" style="min-height:100%;">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                    <a href="#" class="navbar-brand">OPNFV-TESTCASE</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <!--<li class="active">
                            <a aria-expanded="false" role="button" href="layouts.html"> Back to main Layout page</a>
                        </li>-->
                        <li class="dropdown" ng-class="{active: $state.includes('select.selectTestCase')}">
                            <a aria-expanded="false" role="button" ui-sref="select.selectTestCase" data-toggle="dropdown"> Test Case Selection</a>
                            <!--<ul role="menu" class="dropdown-menu">
                                <li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>
                            </ul>-->
                        </li>
                        <li class="dropdown" ng-class="{active: $state.includes('select.testlist')}">
                            <a aria-expanded="false" role="button" ui-sref="select.testlist" data-toggle="dropdown"> Test Case List</a>
                        </li>
                        <li class="dropdown" ng-class="{active: $state.includes('select.admin')}">
                            <a aria-expanded="false" role="button" data-toggle="dropdown"> Owner Center  <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li ng-class="{active:$state.includes('select.admin')}"><a ui-sref="select.admin">My Scenarios</a></li>
                                <li><a href="">others</a></li>
                                <!--<li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>-->
                            </ul>
                        </li>

                        <li class="dropdown" ng-class="{active: $state.includes('select.testVisual')}">
                            <a aria-expanded="false" role="button" ui-sref="select.testVisual" data-toggle="dropdown"> Catalogue Page</a>
                        </li>
                        <li class="dropdown" ng-class="{active: $state.includes('landingpage.table')}">
                            <a aria-expanded="false" role="button" ui-sref="landingpage.table" data-toggle="dropdown"> Landing Page</a>
                        </li>

                        <!--<li class="dropdown">
                            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>
                            </ul>
                        </li>-->

                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a ui-sref="login">
                                <i class="fa fa-sign-in"></i> Log in
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="wrapper wrapper-content">

            <div ui-view></div>

        </div>
        <div class="footer">
            <!--<div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>-->
            <div>
                <strong>Copyright</strong> OPNFV &copy; 2014-2015
            </div>
        </div>

    </div>
</div>

<script>
    $("document").scrollTop();
</script>