---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2017 Ericsson AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
- hosts: localhost
  connection: local
  vars_files:
    - ../var/{{ ansible_os_family }}.yml
    - ../var/opnfv.yml
  roles:
    # using these roles here ensures that we can reuse this playbook in different context
    - role: remove-folders
    - { role: clone-repository, project: "opnfv/releng", repo: "{{ OPNFV_RELENG_GIT_URL }}", dest: "{{ OPNFV_RELENG_PATH }}", version: "{{ OPNFV_RELENG_VERSION }}" }
    - { role: clone-repository, project: "opnfv/bifrost", repo: "{{ OPENSTACK_BIFROST_GIT_URL }}", dest: "{{ OPENSTACK_BIFROST_PATH }}", version: "{{ OPENSTACK_BIFROST_VERSION }}" }

- hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - ../var/{{ ansible_os_family }}.yml
    - ../var/opnfv.yml
  tasks:
    - name: Synchronize local development bifrost repository to XCI paths
      # command module is much faster than the copy module
      synchronize:
        src: "{{ OPENSTACK_BIFROST_DEV_PATH }}"
        dest: "{{ OPENSTACK_BIFROST_PATH }}"
        recursive: yes
        delete: yes
      when:
        - OPENSTACK_BIFROST_DEV_PATH != ""
    - name: Synchronize local development releng repository to XCI paths
      synchronize:
        src: "{{ OPNFV_RELENG_DEV_PATH }}"
        dest: "{{ OPNFV_RELENG_PATH }}"
        recursive: yes
        delete: yes
      when:
        - OPNFV_RELENG_DEV_PATH != ""
    - name: Copy extra vars to releng and bifrost
      synchronize:
        src: "{{ XCI_EXTRA_VARS_PATH }}"
        dest: "{{ item }}"
      with_items:
        - "{{ OPNFV_RELENG_PATH }}/prototypes/xci/playbooks"
        - "{{ OPENSTACK_BIFROST_PATH }}/playbooks/inventory"
      when:
        - XCI_EXTRA_VARS_PATH != ""

- hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - ../var/{{ ansible_os_family }}.yml
    - ../var/opnfv.yml
  tasks:
    - name: combine opnfv/releng and openstack/bifrost scripts/playbooks
      copy:
        src: "{{ OPNFV_RELENG_PATH }}/prototypes/bifrost/"
        dest: "{{ OPENSTACK_BIFROST_PATH }}"

- hosts: localhost
  connection: local
  become: yes
  vars_files:
    - ../var/{{ ansible_os_family }}.yml
    - ../var/opnfv.yml
  tasks:
    - name: destroy VM nodes created by previous deployment
      command: "/bin/bash ./scripts/destroy-env.sh"
      args:
        chdir: "{{ OPENSTACK_BIFROST_PATH }}"

- hosts: localhost
  connection: local
  vars_files:
    - ../var/{{ ansible_os_family }}.yml
    - ../var/opnfv.yml
  tasks:
    - name: create and provision VM nodes for the flavor {{ XCI_FLAVOR }}
      command: "/bin/bash ./scripts/bifrost-provision.sh"
      args:
        chdir: "{{ OPENSTACK_BIFROST_PATH }}"
