.container-tablesize {
    margin: auto 5%;
}

.btn-outline {
    border-color: white;
}

.chosen-container-single .chosen-single {
    background: #ffffff;
    box-shadow: none;
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #CBD5DD;
    border-radius: 2px;
    cursor: text;
    height: 25px;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 4px 12px;
    position: relative;
    width: 100%;
}

.selectize-input {
    height: 30px;
    width: 100px;
}

.myhr {
    border: 0.5px dashed #e7eaec;
    border-top: 1px;
    margin-bottom: 3px;
}

td.null {
    background-color: #e7eaec;
    color: #e7eaec;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
    display: none;
}

body,
html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}


/*img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}*/

.popup {
    position: absolute;
    display: none;
    /*background-color: #dd8;*/
    border-radius: 5px 5px 5px 5px;
    background-color: #f3f3f4;
    opacity: 0.9;
    width: 200px;
}

.ngdialog.ngdialog.ngdialog-theme-default .ngdialog-content {
    background-color: #ffffff;
    border-radius: 5px;
}


/*
body {
    height: 1200px;
}

html {
    min-height: 100%;
}*/


/*html,
body {
    height: 100%;
}

#page-wrapper {
    position: inherit;
    margin: 0 0 0 220px;
    min-height: 773px;
}*/