version: '2'
services:
  mongo:
    image: mongo:3.2.1
    container_name: opnfv-mongo
  testapi:
    image: opnfv/testapi:latest
    container_name: opnfv-testapi
    environment:
      - mongodb_url=mongodb://mongo:27017/
      - base_url={{ vars.base_url }}
    ports:
      - "{{ vars.expose_port }}:8000"
    links:
      - mongo
