# The loopback network interface
auto lo
iface lo inet loopback

# Physical interface
auto {{ interface }}
iface {{ interface }} inet manual

# Container/Host management VLAN interface
auto {{ interface }}.10
iface {{ interface }}.10 inet manual
    vlan-raw-device {{ interface }}

# OpenStack Networking VXLAN (tunnel/overlay) VLAN interface
auto {{ interface }}.30
iface {{ interface }}.30 inet manual
    vlan-raw-device {{ interface }}

# Storage network VLAN interface
auto {{ interface }}.20
iface {{ interface }}.20 inet manual
    vlan-raw-device {{ interface }}

# Container/Host management bridge
auto br-mgmt
iface br-mgmt inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ interface }}.10
    address {{host_info[inventory_hostname].MGMT_IP}}
    netmask 255.255.252.0

# compute1 VXLAN (tunnel/overlay) bridge config
auto br-vxlan
iface br-vxlan inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ interface }}.30
    address {{host_info[inventory_hostname].VXLAN_IP}}
    netmask 255.255.252.0

# OpenStack Networking VLAN bridge
auto br-vlan
iface br-vlan inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ interface }}
    address {{host_info[inventory_hostname].VLAN_IP}}
    netmask 255.255.255.0
    gateway 192.168.122.1
    dns-nameserver 8.8.8.8 8.8.4.4
    offload-sg off
    # Create veth pair, don't bomb if already exists
    pre-up ip link add br-vlan-veth type veth peer name eth12 || true
    # Set both ends UP
    pre-up ip link set br-vlan-veth up
    pre-up ip link set eth12 up
    # Delete veth pair on DOWN
    post-down ip link del br-vlan-veth || true
    bridge_ports br-vlan-veth

# OpenStack Storage bridge
auto br-storage
iface br-storage inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ interface }}.20
    address {{host_info[inventory_hostname].STORAGE_IP}}
    netmask 255.255.252.0
